:root { 
    --s: 25px;
    --c: #8E1616;

    /* Capybara */
    --cf: #D19F7C; /* Face and ears */
    --cs: #764632; /* Shadow */
    --cb: #D67A7A; /* Blush */
    --ce: #613a29; /* Eyes */
    --cd: #3e251b;  /* Details */

    /* Daisy */
    --dp: #FFFFFF; /* Petals  */
    --dc: #FFD700; /* Carpel */ 
    --ds: #4CAF50; /* Stem */
    --dl: #43a046;/* Leaf */

    /* Cat */
    --cab: #AFAFAF;
    --cad: #7F7F7F;
    --cap: #2c2a2a;

    /* Rabbit */
    --rf: #F4EDE2;
    --rer: #EBA5A5;
    --rey: #3A2E2E;
    --rs: #c2b8ab;
    --rb: #D67A7A;
    --rn: #E39CA9;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

* {
  /* Firefox */
  scrollbar-width: none;

/* IE 10+ */
  -ms-overflow-style: none;
  
  box-sizing: border-box;
}

.draws {
  position: relative;
  z-index: 3;
}

/* Rabbit */
.rabbit {
  position: relative;
  z-index: 1;
  left: 15px;
  top: -140px;
}

.rface {
  position: absolute;
  width: 35px;
  height: 35px;
  background: var(--rf);
  border-radius: 20px 20px 10px 10px;
  z-index: 1;
}

.rtail {
  position: absolute;
  z-index: 0;
  background: var(--rs);
  transform: rotate(-130deg);
  top: 9px;
  left: -11px;
  width: 20px;
  height: 16px;
  clip-path: polygon(
    0% 60%,
    15% 90%,
    35% 100%,
    60% 95%,
    80% 75%,
    100% 45%,
    85% 20%,
    60% 5%,
    40% 0%,
    20% 10%
  );
  border-radius: 50%;
}

.rears {
  position: absolute;
  width: 15px;
  height: 25px;
  background: var(--rf);
  border-radius: 50% 50% 20% 20%;
}

.rears.rerleft { left: -2px; top: -18px; transform: rotate(-20deg) }
.rears.rerright { right: 38px; top: -18px; transform: rotate(20deg) }

.rearsD {
  position: absolute;
  width: 8px;
  height: 20px;
  background: var(--rer);
  border-radius: 50% 50% 20% 20%;
}

.rearsD.rerdleft { left: 1px; top: -15px; transform: rotate(-20deg) }
.rearsD.rerdright { right: 41px; top: -15px; transform: rotate(20deg) }

.reye {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--rey);
  z-index: 5;
}

.reye.close {
  background: transparent;
}

.reye.close::before {
  content: "";
  position: absolute;
  inset: 0;
  
  border-bottom: 2px solid var(--cap);
  border-radius: 0 0 50px 50px;
  
  transform: translateY(-2px);
}

.reye.reyleft { left: 6px; top: 10px; }
.reye.reyright { left: 22px; top: 10px; }

.rmouth {
  position: absolute;
  width: 12px;
  height: 10px;
  border: 2px solid var(--rs);
  border-color: transparent transparent var(--rs) transparent;
  border-radius: 0 0 20px 20px; 
  z-index: 4;
}

.rmouth.rmleft { left: 9px; top: 15px; }
.rmouth.rmright { left: 15.8px; top: 15px; }

.rnose {
  position: absolute;
  left: 14px;
  top: 16px;
  width: 9px;
  height: 6px;
  background: var(--rn);
  clip-path: polygon(
    50% 100%,  /* ponta */
    10% 40%,   /* lado esq */
    25% 0%,    /* topo arredondado */
    75% 0%,    /* topo arredondado */
    90% 40%    /* lado dir */
  );
  z-index: 5;
}

/* Cat */
.cat {
  position: relative;
  z-index: 2;
  left: 0px;
  top: -110px;;
}

.caFace {
  position: absolute;
  width: 70px;
  height: 60px;
  background: var(--cab);
  border-radius: 50%;
  z-index: 2;
}

.caEye {
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--cap);
  border-radius: 50%;
  z-index: 3;
}

.caEye.close {
  background: transparent;
}

.caEye.close::before {
  content: "";
  position: absolute;
  inset: 0;
  
  border-bottom: 3px solid var(--cap);
  border-radius: 0 0 50px 50px;
  
  transform: translateY(-2px);
}

.caEye.celeft { left: 15px; top: 20px; }
.caEye.ceright { right: 20px; top: 20px; }

.caEars {
    position: absolute;
    width: 40px;
    height: 40px;
    background: var(--cab);
    border-radius: 20%;
}

.caEars.caeleft { left: 4px; top: 0px; transform: skewY(3deg) skewX(15deg) rotate(18deg) }
.caEars.caeright { right: 10px; top: 0px; transform: skewY(-15deg) skewX(-5deg) rotate(-10deg) }

.caEarsD {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 20%;
  background: var(--cad);
  z-index: 2px;
}

.caEarsD.caedleft { left: 7px; top: 3px; transform: skewY(3deg) skewX(15deg) rotate(18deg) }
.caEarsD.caedright { right: 14px; top: 1px; transform: skewY(-15deg) skewX(-5deg) rotate(-10deg) }

.caMouth {
  position: absolute;
  width: 15px;
  height: 10px;
  border: 2px solid var(--cad);
  border-color: transparent transparent var(--cad) transparent;
  left: 23px;
  top: 23px;
  border-radius: 0 0 20px 20px; 
  z-index: 4;
}


.caMouthD {
  position: absolute;
  width: 15px;
  height: 10px;
  border: 2px solid var(--cad);
  border-color: transparent transparent var(--cad) transparent;
  border-radius: 0 0 20px 20px; 
  left: 30px;
  top: 23px;
  z-index: 4;
}

.caTail {
  position: absolute;
  left: 69px;
  top: -2px;
  display: flex;
  flex-direction: column; /* empilha as bolinhas verticalmente */
  align-items: center;
  gap: 0px; /* espaço menor entre as bolinhas */
}

.tail-segment {
  width: 10px;
  height: 10px;
  background: var(--cad);
  border-radius: 50%; /* deixa redonda */
}

/* curva da cauda: cada bolinha deslocada levemente */
.tail-segment:nth-child(1) { transform: translate(-3.9px, 23px); }
.tail-segment:nth-child(2) { transform: translate(0px, 10px); }
.tail-segment:nth-child(3) { transform: translate(3px, -4px); }
.tail-segment:nth-child(4) { transform: translate(3.8px, -17px); }
.tail-segment:nth-child(5) { transform: translate(2px, -31px); }



/* Daisy */
.daisy {
  position: relative;
  z-index: 3;
  left: -50%;
  top: 10px;
}

.carpel {
  position: absolute;
  background: var(--dc);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 4;
}

.petal {
  position: absolute;
  background: var(--dp);
  width : 10px;
  height: 20px;
  border-radius: 10px 10px 0px 0px;
  z-index: 3;
}

/* Daisy */
.daisy {
  position: relative;
  z-index: 5;
  left: -50%;
  transform: rotate(-20deg);
}

.carpel {
  position: absolute;
  background: var(--dc);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 4;
  left: -5px;
  top: -9px;
}

.petal {
  position: absolute;
  background: var(--dp);
  width : 10px;
  height: 20px;
  border-radius: 10px 10px 0px 0px;
  z-index: 3;
}

.petal.d1 { left: -10px; top: -10px; transform: rotate(-90deg); }
.petal.d2 { left: -6px;  top: -16px; transform: rotate(-45deg); }
.petal.d3 { left: 0px;   top: -18px; transform: rotate(0deg); }
.petal.d4 { left: 6px;   top: -16px; transform: rotate(45deg); }
.petal.d5 { left: 10px;  top: -10px; transform: rotate(90deg); }
.petal.d6 { left: 6px;   top: -4px;  transform: rotate(135deg); }
.petal.d7 { left: 0px;   top: 0px;   transform: rotate(180deg); }
.petal.d8 { left: -6px;  top: -4px;  transform: rotate(-135deg); }

.stem {
  position: absolute;
  left: 2px;
  background: var(--ds);
  width: 6px;
  height: 60px;
  border-radius: 0px 0px 4px 4px;
}

.leaf {
  position: absolute;
  background: var(--dl);
  width: 8px;
  height: 10px;
  border-radius: 20px 0px 20px 0px;
}

.leaf.left { left: -7px; top: 28px;  transform: rotate(75deg) }
.leaf.right { left: 9px; top: 25px;  transform: rotate(20deg) }


/* Capybara */ 
.capy {
  position: relative; 
  z-index: 4; 
}

.cFace {
  background: var(--cf);
  width: 75px;
  height: 75px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
  position: relative;
  z-index: 5;
}

/* Ears */
.cEars {
  position: absolute;
  width: 22px;
  height: 22px;
  background: var(--cs);
  border-radius: 50%;
  z-index: 0; 
}

.cEars.eleft { left: -2px; top: -1px; }
.cEars.eright { right: -2px; top: -1px; }

/* Ears Details */
.cEarsD {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 4px solid var(--cd);
  border-color: transparent transparent var(--cd) transparent;
  border-radius: 0 0 100px 100px; 
  z-index: 3;
}

.cEarsD.edleft { left: -5px;  top: 6px; transform: rotate(220deg) }
.cEarsD.edright { right: -5px; top: 6px; transform: rotate(-220deg) }

/* Eyes */
.eye {
  position: absolute;
  top: 50%;
  width: 12px;
  height: 10px;
  left: 25%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: var(--ce);
  z-index: 3;
}

/* Segundo olho */
.eye:nth-child(2),
.eye:nth-child(4) { 
  left: 75%; 
}

/* Open eyes */
.eye.open {
  background: var(--ce);
}

/* Close eyes */
.eye.close {
  background: transparent;
}

.eye.close::before {
  content: "";
  position: absolute;
  inset: 0;

  border-bottom: 3px solid var(--ce);
  border-radius: 0 0 50px 50px;

  transform: translateY(-2px);
}


/* Muzzle */
.cMuzzle {
  width: 30px;
  height: 30px;
  background: var(--cs);
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  z-index: 6;
}

/* Muzzle details */
.cMuzzleDc {
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid var(--cd);
  border-color: transparent transparent var(--cd) transparent;
  border-radius: 0 0 100px 100px; 
  z-index: 7;
}

.cMuzzleDc.mdleft { left: 35%; top: 55%; }
.cMuzzleDc.mdright { right:35%; top: 55%; }

.cMuzzleDl {
  position: absolute;
  left: 0;
  top: 0;
  width: 3px; 
  height: 13px;
  left: 50%;
  transform: translate(-50%);
  top: 55%;
  background: var(--cd);
  z-index: 7;
}

/* Blush */
.cBlush {
  background: var(--cb);
  width: 18px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  z-index: 6;
  filter: blur(2px);
}

.cBlush.bleft { left: 4px; top: 62%; }
.cBlush.bright { right: 4px; top: 62%; }

/* Hand and Arm */
.cHand {
  position: absolute;
  background: var(--cs);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  z-index: 4;
  left: -23px;
  top: 56px;
}

.cArm {
  position: absolute;
  background: var(--cf);
  width: 30px;
  height: 13px;
  left: -20px;
  top: 53px;
  transform: rotate(-30deg);
  z-index: 2;
}


html, body {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden !important;
  overscroll-behavior: none;
  background: #1D1616;
  font-family: "Fredoka", sans-serif;
}

.text {
    z-index: 3;
    color: #D84040;
    font-size: 3ch;
    margin-right: 10vw;
    margin-left: 10vw;
    padding: 12px 20px;

    background: linear-gradient(145deg, #5A1B1B, #4A1212);
    border-radius: 22px;

    box-shadow:
        0 0 12px rgba(216, 64, 64, 0.35),
        0 4px 12px rgba(0,0,0,0.4),
        inset 0 0 6px rgba(0,0,0,0.3);
    
    backdrop-filter: blur(2px);

    animation: softGlow 3s ease-in-out infinite,
               floatText 4s ease-in-out infinite;
}

@keyframes floatText {
  0% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
  100% { transform: translateY(0); }
}

@keyframes softGlow {
  0% { box-shadow: 0 0 10px rgba(216, 64, 64, .25); }
  50% { box-shadow: 0 0 16px rgba(216, 64, 64, .45); }
  100% { box-shadow: 0 0 10px rgba(216, 64, 64, .25); }
}

.subtext {
  z-index: 2;
  font-size: 2ch;
  color: #7A2A2A;
  margin-top: 10px; 
}


.strong {
  color: #B34141;
  font-weight: bold;
  animation: textGlow 3s ease-in-out infinite;
  position: relative;
}

.strong::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%; 
  height: 1.5px;
  background: #C95C5C;
  opacity: 0.5;
}


@keyframes textGlow {
  0% {
    text-shadow: 0 0 6px rgba(179, 65, 65, 0.4),
                 0 0 10px rgba(179, 65, 65, 0.2);
  }
  50% {
    text-shadow: 0 0 8px rgba(179, 65, 65, 0.6),
                 0 0 14px rgba(179, 65, 65, 0.4);
  }
  100% {
    text-shadow: 0 0 6px rgba(179, 65, 65, 0.4),
                 0 0 10px rgba(179, 65, 65, 0.2);
  }
}


.heart {
    background: var(--c);
    width: var(--s);
    height: var(--s);
    position: absolute;
    transform: rotate(45deg);
    border-radius: 10%;
    display: inline-block;

    animation: floatWind 6s linear forwards;
    z-index: 1;
}

.heart::before,
.heart::after{
  content: "";
  position: absolute;
  width: var(--s);
  height: var(--s);
  background: var(--c);
  border-radius: 50%;
  top: -50%;
  left: 0;
}

.heart::after{
  left: -50%;
  top: 0;
}

@keyframes floatWind {
  0% {
    transform:
      translate(0, 0)
      rotate(70deg)
      scale(0.6);
    opacity: 1;
  }

  20% {
    transform:
      translate(-20px, calc(var(--h) * -0.25))
      rotate(20deg)
      scale(0.9);
    opacity: 1;
  }

  40% {
    transform:
      translate(20px, calc(var(--h) * -0.50))
      rotate(70deg)
      scale(1.2);
    opacity: 1;
  }

  60% {
    transform:
      translate(20px, calc(var(--h) * -0.75))
      rotate(20deg)
      scale(1.5);
    opacity: 1;
  }

  80% {
    transform:
      translate(-20px, calc(var(--h) * -1))
      rotate(70deg)
      scale(1.8);
  }
  100% {
    transform:
      translate(20px, calc(var(--h) * -1.25))
      rotate(20deg)
      scale(2.3);
    opacity: 0;
  }
}