:root { 
    --s: 25px;
    --c: #8E1616;

    /* Capybara */
    --cf: #D19F7C; /* face and ears */
    --cs: #764632; /* shadow */
    --cb: #D67A7A; /* blush */
    --ce: #613a29; /* eyes */
    --cd: #3e251b;

    /* Daisy */
    --dp: #FFFFFF; /* Petals  */
    --dc: #FFD700; /* Carpel */ 
    --ds: #4CAF50; /* Stem */
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

* {
  /* Firefox */
  scrollbar-width: none;

/* IE 10+ */
  -ms-overflow-style: none;
  
  box-sizing: border-box;
}

.draws {
  position: relative;
  z-index: 3;
}

/* Daisy */
.daisy {
  position: relative;
  z-index: 3;
  left: -50%;
  top: 10px;
}

.carpel {
  position: absolute;
  background: var(--dc);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 4;
}

.petal {
  position: absolute;
  background: var(--dp);
  width : 10px;
  height: 20px;
  border-radius: 10px 10px 0px 0px;
  z-index: 3;
}

/* Daisy */
.daisy {
  position: relative;
  z-index: 5;
  left: -50%;
  transform: rotate(-20deg);
}

.carpel {
  position: absolute;
  background: var(--dc);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 4;
  left: -5px;
  top: -9px;
}

.petal {
  position: absolute;
  background: var(--dp);
  width : 10px;
  height: 20px;
  border-radius: 10px 10px 0px 0px;
  z-index: 3;
}

.petal.d1 { left: -10px; top: -10px; transform: rotate(-90deg); }
.petal.d2 { left: -6px;  top: -16px; transform: rotate(-45deg); }
.petal.d3 { left: 0px;   top: -18px; transform: rotate(0deg); }
.petal.d4 { left: 6px;   top: -16px; transform: rotate(45deg); }
.petal.d5 { left: 10px;  top: -10px; transform: rotate(90deg); }
.petal.d6 { left: 6px;   top: -4px;  transform: rotate(135deg); }
.petal.d7 { left: 0px;   top: 0px;   transform: rotate(180deg); }
.petal.d8 { left: -6px;  top: -4px;  transform: rotate(-135deg); }

.stem {
  position: absolute;
  left: 2px;
  background: var(--ds);
  width: 6px;
  height: 60px;
  border-radius: 0px 0px 4px 4px;
}


/* Capybara */ 
.capy {
  position: relative; 
  z-index: 4; 
}

.cFace {
  background: var(--cf);
  width: 75px;
  height: 75px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
  position: relative;
  z-index: 5;
}

/* Ears */
.cEars {
  position: absolute;
  width: 22px;
  height: 22px;
  background: var(--cs);
  border-radius: 50%;
  z-index: 0; 
}

.cEars.eleft { left: -2px; top: -1px; }
.cEars.eright { right: -2px; top: -1px; }

/* Ears Details */
.cEarsD {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 4px solid var(--cd);
  border-color: transparent transparent var(--cd) transparent;
  border-radius: 0 0 100px 100px; 
  z-index: 3;
}

.cEarsD.edleft { left: -5px;  top: 6px; transform: rotate(220deg) }
.cEarsD.edright { right: -5px; top: 6px; transform: rotate(-220deg) }

/* Eyes */
.eye {
  position: absolute;
  top: 50%;
  width: 12px;
  height: 10px;
  left: 25%;
  transform: translate(-50%, -50%);
  transition: transform 0.25s ease, top 0.25s ease;
}

.eye:nth-child(2),
.eye:nth-child(4) { left: 75%; }

/* Open Eyes */
.eye-open {
  background: var(--ce);
  border-radius: 50%;
  display: block; /* sempre visível quando não fechado */
}

/* Close Eyes */
.eye-close {
  border: 4px solid var(--ce);
  border-color: transparent transparent var(--ce) transparent;
  border-radius: 0 0 100px 100px;
  width: 19px;
  top: 55%;
  transform: translate(-50%, -50%) rotate(180deg);
  display: none; /* esconde por padrão */
}

/* Close Eyes Animation */
.cFace.close .eye-open {
  display: none; /* some instantaneamente */
  transform: translate(-50%, -50%) scaleY(0.1);
}

.cFace.close .eye-close {
  display: block; /* aparece instantaneamente */
  transform: translate(-50%, -50%) rotate(180deg) scaleY(1);
}


/* Muzzle */
.cMuzzle {
  width: 30px;
  height: 30px;
  background: var(--cs);
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  z-index: 6;
}

/* Muzzle details */
.cMuzzleDc {
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid var(--cd);
  border-color: transparent transparent var(--cd) transparent;
  border-radius: 0 0 100px 100px; 
  z-index: 7;
}

.cMuzzleDc.mdleft { left: 35%; top: 55%; }
.cMuzzleDc.mdright { right:35%; top: 55%; }

.cMuzzleDl {
  position: absolute;
  left: 0;
  top: 0;
  width: 3px; 
  height: 13px;
  left: 50%;
  transform: translate(-50%);
  top: 55%;
  background: var(--cd);
  z-index: 7;
}

/* Blush */
.cBlush {
  background: var(--cb);
  width: 18px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  z-index: 6;
  filter: blur(2px);
}

.cBlush.bleft { left: 4px; top: 62%; }
.cBlush.bright { right: 4px; top: 62%; }

/* Hand and Arm */
.cHand {
  position: absolute;
  background: var(--cs);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  z-index: 4;
  left: -23px;
  top: 56px;
}

.cArm {
  position: absolute;
  background: var(--cf);
  width: 30px;
  height: 13px;
  left: -20px;
  top: 53px;
  transform: rotate(-30deg);
  z-index: 2;
}


html, body {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden !important;
  overscroll-behavior: none;
  background: #1D1616;
  font-family: "Fredoka", sans-serif;
}

.text {
    z-index: 3;
    color: #D84040;
    font-size: 3ch;
    margin-right: 10vw;
    margin-left: 10vw;
    padding: 12px 20px;

    background: linear-gradient(145deg, #5A1B1B, #4A1212);
    border-radius: 22px;

    box-shadow:
        0 0 12px rgba(216, 64, 64, 0.35),
        0 4px 12px rgba(0,0,0,0.4),
        inset 0 0 6px rgba(0,0,0,0.3);
    
    backdrop-filter: blur(2px);

    animation: softGlow 3s ease-in-out infinite,
               floatText 4s ease-in-out infinite;
}

@keyframes floatText {
  0% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
  100% { transform: translateY(0); }
}

@keyframes softGlow {
  0% { box-shadow: 0 0 10px rgba(216, 64, 64, .25); }
  50% { box-shadow: 0 0 16px rgba(216, 64, 64, .45); }
  100% { box-shadow: 0 0 10px rgba(216, 64, 64, .25); }
}

.subtext {
  z-index: 2;
  font-size: 2ch;
  color: #7A2A2A;
  margin-top: 10px; 
}


.strong {
  color: #B34141;
  font-weight: bold;
  animation: textGlow 3s ease-in-out infinite;
  position: relative;
}

.strong::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%; 
  height: 1.5px;
  background: #C95C5C;
  opacity: 0.5;
}


@keyframes textGlow {
  0% {
    text-shadow: 0 0 6px rgba(179, 65, 65, 0.4),
                 0 0 10px rgba(179, 65, 65, 0.2);
  }
  50% {
    text-shadow: 0 0 8px rgba(179, 65, 65, 0.6),
                 0 0 14px rgba(179, 65, 65, 0.4);
  }
  100% {
    text-shadow: 0 0 6px rgba(179, 65, 65, 0.4),
                 0 0 10px rgba(179, 65, 65, 0.2);
  }
}


.heart {
    background: var(--c);
    width: var(--s);
    height: var(--s);
    position: absolute;
    transform: rotate(45deg);
    border-radius: 10%;
    display: inline-block;

    animation: floatWind 6s linear forwards;
    z-index: 1;
}

.heart::before,
.heart::after{
  content: "";
  position: absolute;
  width: var(--s);
  height: var(--s);
  background: var(--c);
  border-radius: 50%;
  top: -50%;
  left: 0;
}

.heart::after{
  left: -50%;
  top: 0;
}

@keyframes floatWind {
  0% {
    transform:
      translate(0, 0)
      rotate(70deg)
      scale(0.6);
    opacity: 1;
  }

  20% {
    transform:
      translate(-20px, calc(var(--h) * -0.25))
      rotate(20deg)
      scale(0.9);
    opacity: 1;
  }

  40% {
    transform:
      translate(20px, calc(var(--h) * -0.50))
      rotate(70deg)
      scale(1.2);
    opacity: 1;
  }

  60% {
    transform:
      translate(20px, calc(var(--h) * -0.75))
      rotate(20deg)
      scale(1.5);
    opacity: 1;
  }

  80% {
    transform:
      translate(-20px, calc(var(--h) * -1))
      rotate(70deg)
      scale(1.8);
  }
  100% {
    transform:
      translate(20px, calc(var(--h) * -1.25))
      rotate(20deg)
      scale(2.3);
    opacity: 0;
  }
}